
## Content-Based Recommender Systems - kNN

In [0]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.neighbors import NearestNeighbors

In [26]:
cars = pd.read_csv('/content/mtcars.csv')
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

           car_names   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [0]:
Y = [15, 300, 160, 3.2]

X = cars[['mpg','disp','hp','wt']]

In [0]:
nbrs = NearestNeighbors(n_neighbors=1).fit(X)

In [29]:
print(nbrs.kneighbors([Y]))

(array([[10.77474942]]), array([[22]]))

In [44]:
cars.iloc[22]

car_names    AMC Javelin
mpg                 15.2
cyl                    8
disp                 304
hp                   150
drat                3.15
wt                 3.435
qsec                17.3
vs                     0
am                     0
gear                   3
carb                   2
Name: 22, dtype: object

In [0]:
#We recommend 'AMC Javelin' to our customer